section {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    align-items: center;
    gap: 40px;

    article {
        width: 450px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .label {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 170px;
            padding: 10px;
            border-radius: 20px;
            background-color: #E5E5E5;

            img {
                height: 20px;
            }

            p {
                font-size: 14px;
            }
        }

        h1 {
            font-size: 50px;
            line-height: 50px;
            /*box-shadow: 0px 4px 4px 0px #00000040;*/
        }

        p {
            width: 85%;
            line-height: 25px;
        }

        img {
            max-width: 450px;
        }

        .buttonsHome {
            display: flex;
            gap: 10px;

            a {
                padding: 10px 18px;
                border-radius: 10px;
            }
            
            .btn1,
            .btn2:hover {
                background-color: #00745A;
                color: #ffffff;
            }

            .btn2,
            .btn1:hover {
                background-color: #ffffff;
                color: #00745A;
                border: #00745A solid 3px;
            }
        }
    }
    @media (max-width:900px) {
        width: 100%;
        padding: 70px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .heroTitle {
            width: 100%;
            align-items: center;
            text-align: center;
            
            .label {
                align-items: center;
            }
        
        }
        
        .imgDoctor {
            display: none;
        }

        .buttonsHome {
            flex-direction: column;
            width: 90%;
        }
    }
}

.missao {
    background: #00745A;
    color: #ffffff;
}

.containerMissao,
.containerImpacto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 940px;
    align-items: start;
    justify-content: space-between;

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 14px;
    }

    @media (max-width: 900px){
        align-items: center;
        text-align: center;
    }
}

.impacto {
    display: flex;
    justify-content: center;
}



