footer {
    width: 100%;
    background: #000000;
    color: #FFFFFF;

    a {
        color: #FFFFFF;
    }
    
    a:hover {
        color: #00745A;
    }

    .boxLogo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .menuFooter {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 100px;

        div {
            width: 300px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            a {
                display: flex;
                gap: 8px;
            }
            
            p {
                font-size: 14px;
            }
        }
        
        @media (max-width: 900px) {
            flex-direction: column;
            gap: 15px;
            padding: 30px;

            div {
                padding: 20px 0;
            }
        }
    }

    .textFooter {
        height: 150px;
        display: flex;
        align-items: center;
    }


    .textFoot {
        width: 100%;
        text-align: center;
        font-size: 12px;
        padding: 30px;
        border-top: #00745A solid 2px;
    }
}
